* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #aaa;
}

.page {
    width: 210mm;
    height: 297mm;
    margin: 10mm auto;
    background: white;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }

    .page {
        margin: 0;
        background: white;
        page-break-after: always;
    }
}
