{% extends "./base.html" %}
{% load tz %}
{% load wagtailcore_tags %}
{% block extra_head %}
    <style>
        th:not(:nth-child(2)), td:not(:nth-child(2)) {
            white-space: nowrap;
            text-align: center;
            vertical-align: middle !important;
        }
    </style>
{% endblock extra_head %}
{% block content %}
    <div class="mb-5">
        {% if page.content %}
            {{ page.content }}
        {% else %}
            <h1>
                {% if page.title %}
                    {{ page.title }}
                {% else %}
                    {{ platform_name }} 카탈로그
                {% endif %}
            </h1>
            <p class="lead">{{ platform_name }}에서 생성한 카탈로그 리스트입니다.</p>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>카탈로그</th>
                    <th>수 정</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for catalog in catalogs %}
                    <tr>
                        <td>{{ catalogs.paginator.base_no|add:forloop.revcounter }}</td>
                        <td>
                            {% if catalog.workflow_states.last.status == "in_progress" %}
                                [검토 중] {{ catalog.title }}
                            {% elif catalog.file_url %}
                                <a href="{{ catalog.file_url }}">{{ catalog.title }}</a>
                            {% else %}
                                [준비 중]{{ catalog.title }}
                            {% endif %}
                        </td>
                        <td>{{ catalog.specific.modified|date:"Y-m-d H:i" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>{% include "./snippets/paginator.html" with paginated=catalogs %}</div>
{% endblock content %}
