{% extends "./base.html" %}
{% load static wagtailcore_tags %}
{% block content %}
    <div class="py-0" id="error">
        <div class="container">
            <div class="row mt-7">
                <div class="col-lg-7 mx-auto text-center my-5">
                    <h5 class="fw-light fs-3 fs-lg-5 lh-sm mb-3">{{ error_code }}</h5>
                    <p class="mb-3">
                        {% if error_code == 400 %}
                            잚못된 요청입니다. 요청 파라미터가 잘 못 되었을 수 있습니다.
                        {% elif error_code == 401 %}
                            권한이 없습니다.
                        {% elif error_code == 403 %}
                            이 페이지를 볼 권한이 없습니다.
                        {% elif error_code == 404 %}
                            페이지를 찾을 수 없습니다.
                        {% else %}
                            확인되지 않은 에러가 발생했습니다.
                        {% endif %}
                    </p>
                    <p class="mb-3">{{ message|default_if_none:"" }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
